<h2>Welcome to {{title}}</h2>

<form action="/users/login" method="post">
    <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <button type="submit">Login</button>
</form>
